node_modules/
dist/
apps/**/node_modules/
apps/**/dist/
.vite/
**/.env
**/.env.*
!.env.example
!apps/portal-interno/.env
!apps/portal-interno/.env.production
!apps/formulario-publico/.env
!apps/formulario-publico/.env.production
